:root {
    --main-dark: #101820;
    --main-gold: #F2AA4C;
    --main-light: #fff;
}
body {
    background-color: var(--main-light);
    color: var(--main-dark);
}
.navbar {
    background: var(--main-dark) !important;
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: var(--main-gold) !important;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: var(--main-light) !important;
    background: var(--main-gold);
    border-radius: 8px;
    transition: 0.2s;
}
.navbar-toggler {
     border-color: var(--main-gold);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(242,170,76, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#logo img {
  box-shadow: #F2AA4C;
}
#carouselExampleDark {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 32px rgba(0,0,0,0.08);
    margin-top: 2rem;
}
.carousel-caption {
    background: rgba(46, 100, 153, 0.6);
    border-radius: 8px;
    color: var(--main-gold);
    padding: 1rem 2rem;
}
footer {
    background: var(--main-gold);
    color: var(--main-dark);
    font-weight: 300;
}
footer a {
    color: var(--main-dark);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
footer a:hover {
    color: var(--main-light);
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

